#snake-game {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;

  h1 {
    font-size: 3rem;
    margin: 2rem;
  }

  .snake-game__board {
    border: 1px solid white;

    .row {
      display: flex;
      flex-direction: row;
    }

    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2em;
      width: 2em;

      &.cell--food {
        background: orangered;
        color: #202124;
      }

      &.cell--snake {
        background: lime;
        color: #202124;
      }
    }
  }

  .snake-game__btn {
    margin: 2em;
    background-color: inherit;
    border: 2px solid lime;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.5rem;
    color: lime;
  }
}