body {
  background: #202124;
  color: #bababa;
}

.app-container {
  header {
    border-bottom: 1px solid lime;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

    a {
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }
}
