$font-color: #bababa;

body {
  background: #202124;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $font-color;
  font-size: calc(10px + 1vmin);

  header {
    border-bottom: 1px solid $font-color;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;

    span {
      font-size: 2em;
      font-weight: 700;
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2em;

      a {
        color: inherit;
      }
    }
  }

  main {
    display: flex;
    flex: 1;
  }
}

